@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: rgb(0, 113, 248);
    --secondary: rgb(238, 98, 107);
    --secondaryHover: rgb(207, 79, 86);
    --secondaryActive: rgb(170, 65, 71);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

/* ::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
} */

.home {
    background: url(./img/banner-bg.jpg) center/cover;
}

.rounded-bottom-50px {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.rounded-bottom-150px {
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.w-100px {
    width: 100px;
}

.h-100px {
    height: 100px;
}

.heading-1::after {
    content: "";
    position: absolute;
    left: 36%;
    bottom: -5px;
    transform: translateX(-50%);
    background: url(./img/caption-dec.png);
    height: 12px;
    width: 203px;
}

.feature > a:hover > div {
    background-color: var(--secondary);
}
